pur_beurre/__pycache__
catalog/__pycache__
catalog/migrations/__pycache__
catalog/tests/__pycache__
users/__pycache__/
users/migrations/__pycache__
users/tests/__pycache__
.idea/
.pytest_cache/
.vscode/
.git/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml

# Environments
.env
venv/